body{
    p{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: black;
        text-align: center;
    }

    .index-gl-stage{
        height: 400px;
        width: 100%;
        border: 1px solid red;
    }
}